p{
    font-family:monospace;
    text-decoration:underline;
    font-size:15px;
}
#quo{
    font-style:italic;
}
#th2{
    background-color:rgb(242, 211, 242);
    font-size:14px;
    font-family:cursive;
}