body {
    font-family: sans-serif;
}
h1 {
    font-family: fantasy;
}
#cloud-pic {
    width: 100px;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
}
#cloud-sidebar {
    width:30%;
    float:right;
    background: rgb(255, 255, 219);
    margin-left:5px;
}
#text {
    float:right;
    width:30%;
    margin-left:5px;
    margin-right:5px;
}