#greeting {
    background: rgb(255, 255, 0);
    border: 2px solid black;
    font-family: "Comic Sans MS", fantasy;
    padding: 5px;
    width: 262px;
    position:absolute;
    top:20px;
    left:20px;
    z-index:3;
}

#creature {
    position:absolute;
    top:35px;
    left:80px;
    
}